body {
  font-family: San Francisco,Roboto,Monaco,sans-serif;
}

.App {
  text-align: center;
  margin: 2em 0;
}

.googleButton {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 10px 0 0 0;
}

.clientId {
  width: 40em;
}

button {
  margin: 0 10px;
}
